.bg-1 {
  background-color: #F2EDE4
}
.bg-2 {
  background-color: #D9C7A7
}
.bg-3 {
  background-color: #480006
}
.bg-4 {
  background-color: #735340
}
.bg-5 {
  background-color: #1b0e0b
}

.color-1 {
  color: #F2EDE4
}
.color-2 {
  color: #D9C7A7
}
.color-3 {
  color: #480006
}
.color-4 {
  color: #735340
}
.color-5 {
  color: #1b0e0b
}