.bg-1 {
  background-color: #F2EDE4
}
.bg-2 {
  background-color: #D9C7A7
}
.bg-3 {
  background-color: #480006
}
.bg-4 {
  background-color: #735340
}
.bg-5 {
  background-color: #1b0e0b
}

.color-1 {
  color: #F2EDE4
}
.color-2 {
  color: #D9C7A7
}
.color-3 {
  color: #480006
}
.color-4 {
  color: #735340
}
.color-5 {
  color: #1b0e0b
}

.bs-1 {
  box-shadow: 3px 3px #F2EDE4
}
.bs-2 {
  box-shadow: 3px 3px #D9C7A7
}
.bs-3 {
  box-shadow: 3px 3px #480006
}
.bs-4 {
  box-shadow: 3px 3px #735340
}
.bs-5 {
  box-shadow: 3px 3px #1b0e0b;
}

.border {
  border: 0 solid black;
}